# If mod_rewrite is enabled, apply the following rules to redirect requests to the index.php file
<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RedirectMatch 301 ^/privacy-policy$ /index.php?path=privacy
    RedirectMatch 301 ^/privacy-policy.php /index.php?path=privacy
    RedirectMatch 301 ^/privacy$ /index.php?path=privacy
    RedirectMatch 301 ^/privacy.php /index.php?path=privacy
    RedirectMatch 301 ^/terms-and-conditions$ /index.php?path=terms
    RedirectMatch 301 ^/terms-and-conditions.php /index.php?path=terms
    RedirectMatch 301 ^/terms-conditions$ /index.php?path=terms
    RedirectMatch 301 ^/terms-conditions.php /index.php?path=terms
    RedirectMatch 301 ^/terms$ /index.php?path=terms
    RedirectMatch 301 ^/terms.php /index.php?path=terms
    ErrorDocument 404 /index.php?path=error&error=404
    ErrorDocument 403 /index.php?path=error&error=403
    ErrorDocument 500 /index.php?path=error&error=500
</IfModule>
# Prevent access to certain file types, such as .htaccess, .htpasswd, .ini, .log, .sh, .inc, .bak, .config, .sql, .tpl, .cache, .svn, .git, .yml, .yaml, .json, .lock, .dist, etc.
<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh|inc|bak|config|sql|tpl|cache|svn|git|github|code-workspace|env|env.example|yml|yaml|json|lock|dist)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
